body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.navbar-inverse {
    /*background-color:#77DDFF;*/
    /*background: -webkit-linear-gradient(#46A3FF,#ffffff);
                    background: -o-linear-gradient(#46A3FF,#ffffff);
                    background: -moz-linear-gradient(#46A3FF,#ffffff);
                    background: linear-gradient(#46A3FF,#ffffff);
                    /*border-color: #E7E7E7;*/
    border-bottom-color: #ffffff;
    /*background-image: -o-linear-gradient(bottom, #15C79F 50%, #31EFBF 50%);
                    background-image: -moz-linear-gradient(bottom, #15C79F 10%, #31EFBF 90%);
                    background-image: -webkit-linear-gradient(bottom, #15C79F 10%, #31EFBF 90%);
                    background-image: -ms-linear-gradient(bottom, #15C79F 10%, #31EFBF 90%);*/
    background-image: linear-gradient(to right bottom, rgba(194, 223, 255,1) 20%,rgba(235, 244, 255,1) 80%);
}

    .navbar-inverse > .nav-contaniner {
        background-color: #ffffff;
        border-radius: 5px;
        padding-bottom: 5px;
    }

a:hover {
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}


.navbar-inverse .navbar-brand {
    color: #52b6ec;
    font-family: "思源黑體";
}

.navbar-inverse .navbar-brand:hover {
    color: #52b6ec;
}

.navbar-inverse .navbar-toggle {
    border-color: #ddd;
}

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #ccc;
    }

.jumbotron {
    padding: 3px;
    background-color: rgba(0,0,0,0);
    /*background-color:#000000;*/
    border-bottom-right-radius: 0;
    margin-bottom: 0px;
    overflow: hidden;
}

.p-item {
    padding: 5px;
}

    .p-item > .thumbnail {
        padding: 50px;
    }

.icon-fb {
    background-color: #4f7dd4;
    color: #ffffff;
    padding: 10px 18px 10px 18px;
    border-radius: 40px;
    text-align: center;
}

.text-social {
    color: #ffffff;
    font-size: 14pt;
}

.icon-google {
    background-color: #dc422b;
    color: #ffffff;
    padding: 10px 12px 10px 12px;
    border-radius: 40px;
    text-align: center;
}


.icon-twitter {
    background-color: #5bceff;
    color: #ffffff;
    padding: 10px 12px 10px 12px;
    border-radius: 40px;
    text-align: center;
}

.contact-us {
    background: #428bca;
    min-height: 200px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

 .contact-us > .social {
    /*background-color:rgba(255,255,255,0.1);*/
    height: 100%;
    padding: 5px;
    border-radius: 5px;
 }

.social > .col-social {
    margin-top: 5px;
}

.contact-us label {
    color: #ffffff;
}

.Price {
    color:	#ACD6FF;
     text-decoration:none;

}

.Price:hover {
    
}

.Price .name {
    color:#0072E3;
    color:#000000;
   font-size:13pt;
    text-decoration:none;
}

.Price .name:hover{
        color:#0072E3;
         color:#000000;
   font-size:13pt;
    text-decoration:none;
    text-shadow:2px 2px 2px #d0d0d0;
}

.Price .title {
    /*color:#0072E3;*/
    /*color:#000000;*/
    color:#007500;
   font-size:11pt;
   font-family: "Microsoft YaHei";
}

/*.Price .min{
     color:rgba(0, 127, 255,0.6);
     font-size:13pt;
     color:#4cae4c;
     color:	#007500
}*/

.Price .min:hover{
    text-decoration:none;
}

/*.Price .max{
     color:	rgba(0, 127, 255,0.9);
    
     font-size:13pt;
     color:#4cae4c;
     color:	#007500
}*/

.main-content{
    background-color:#f3f3f3;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:25px;
    padding-right:25px;
    border-radius:10px;
}

.detail-info-dl dt{
    font-size:14pt;
}

.detail-info-dl dd{
    font-size:14pt;
}



.btn-lucky{
    font-family:DFKai-sb;
    border-radius:50%;
    box-shadow:0px 1px 5px #888888;
    padding:6px 10px 6px 10px;
    background-color:#ed3729;
    /*border:2px solid #CE0000;*/
    font-size:15pt;
    text-shadow:0px 1px 1px #4F4F4F;
    color:#ffffff;
    background: linear-gradient(#FF0000,#CE0000);
}


.btn-lucky:hover{
    /*font-size:15pt;*/
    color:#ffffff;
    /*padding:7px 11px 7px 11px;*/
   box-shadow:0px 2px 15px #CE0000;
}

.btn-lucky-lg{
    border-radius:50%;
    box-shadow:0px 0px 5px 2px #888888;
    padding:4% 2% 4% 2%;
    background-color:#ed3729;
    border:1px solid #888888;
    /*font-size:18pt;*/
    text-shadow:0px 5px 3px #4F4F4F;
    color:#ffffff;
}



.btn-lucky-lg:hover{
    color:#ffffff;
     box-shadow:0px 0px 10px #888888;
}

.lucky-circle{
                width:200px;
                height:200px;
                /*background: -webkit-linear-gradient(yellow,red);
                background: -o-linear-gradient(yellow,red);
                background: -moz-linear-gradient(yellow,red);
                background: linear-gradient(yellow,red);*/
                background:linear-gradient(#CE0000,#ff7575);
                border-radius:50%;
                text-align:center;
              /*-moz-box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
                    -webkit-box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);*/
                box-shadow:0px 0px 10px 3px rgba(204,0,0,0.6);
             }

           .lucky-circle > .sub{
               margin-top:7.5%;
               display:inline-block;
                width:85%;
                height:85%;
                background: -webkit-linear-gradient(yellow,red);
                background: -o-linear-gradient(yellow,red);
                background: -moz-linear-gradient(yellow,red);
                background: linear-gradient(#FF0000,#FF5151);
                border-radius:50%;
                text-align:center;
                /*border:1px solid rgba(20%,20%,40%,0.6);*/
               box-shadow:0px 0px 10px 3px rgba(204,0,0,0.6);
                /*box-shadow:0px 0px 10px 3px rgba(0,0,0,0.1);*/
               /*transform:rotate(5deg);*/
             }